<h1><%= @merchant.name %>'s bulk discounts</h1><br>
<%= link_to 'New Discount', "/merchants/#{@merchant.id}/bulk_discounts/new" %><br>
<% @merchant.bulk_discounts.each do |discount| %>
  <div id="discount-<%= discount.id %>">
    <ul>
      <h3><%= link_to "Discount #{discount.id}", "/merchants/#{@merchant.id}/bulk_discounts/#{discount.id}" %></h3>
      <h2>Name: <%= discount.name %></h2>
      <li>Quantity threshold: <%= discount.quantity_threshold %></li>
      <li>Discount percentage: <%= discount.discount_percent %></li>
    </ul>
    <%= link_to "Delete discount", "/merchants/#{@merchant.id}/bulk_discounts/#{discount.id}/destroy" %>
  </div>
<% end %>

<h3>Upcoming Holidays:</h3>
<div id="next-3-holidays">
  <% @holidays.each do |holiday| %>
  <div id="holiday"
    <p>Name: <%= holiday.name %></p>
    <p>Date: <%= holiday.date %></p>
  </div>
  <% end %>
</div>
